{% extends 'base.html.twig' %}

{% block title %}GServices A Domicile{% endblock %}

{% block body %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>
<br><br>
<div class="container1">
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="6pt">A propos de nous</FONT></h1>
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>
<h2 class="text-center justify-content-center"> <p> <br>Les services seront emmenés à évoluer<br> <br>En fonction de vos besoins, vous pourrez personnaliser vos services couplés</p></span>
<br><br><br>




<div class="d-flex justify-content-between col-12 blocimages1">
    
<div class="container container-fluid blocimages1">
    <img class="col-6 card" src="{{ asset('medias/medias/images/Appcompagnieenfants.jpg')}}" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid blocimages1">
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppLessive du linge.jpg')}}" alt="img servcices"  width="700" height="300">
</div>
<div class="container container-fluid blocimages1">
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppLivraison de courses femme senior.jpg')}}" alt="img aide documentaire"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12 blocimages1">
<div class="container container-fluid blocimages1">
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppMachine à laver.jpg')}}" alt="img services" width="700" height="300">
</div>
<div class="container container-fluid blocimages1">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppNettoyage de surfaces.jpg')}}" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid blocimages1">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppRigoler détente.jpg')}}" alt="img servcices"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12 blocimages1">
<div class="container container-fluid blocimages1">
         <img class="col-6 card" src="{{ asset('medias/medias/images/AppAide démarches en ligne.jpg')}}" alt="img services"  width="700" height="300">
</div> 
<div class="container container-fluid blocimages1">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppAidedevoirs fille.jpg')}}" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid blocimages1">       
         <img class="col-6 card" src="{{ asset('medias/medias/images/AppAide administrative.jpg')}}" alt="img services"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12 blocimages1">
<div class="container container-fluid blocimages1">
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppActivité avec enfants.jpg')}}" alt="img services"  width="700" height="300">
</div> 
<div class="container container-fluid blocimages1">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/Livraison de courses homme senior.jpg')}}" alt="img services"  width="700" height="300">
</div>  
    <div class="container container-fluid blocimages1">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/AppAide administrative senior.jpg')}}" alt="img services" width="700" height="300">
</div>
</div>
{% endblock %}
