{% extends 'base.html.twig' %}

{% block title %}GServices A Domicile{% endblock %}

{% block body %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>
<br><br>
<div class="container">
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="9pt">  Qui sommes nous  </FONT></h1>
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
     
</div>
<h2 class="text-center justify-content-center"> <p> <br>Les services seront emmenés à évoluer<br> <br>En fonction de vos besoins, vous pourrez personnaliser vos services couplés</p></span>

<br><br><br>



<div class="d-flex justify-content-between col-12">
    
<div class="container container-fluid ">
    <img class="col-6 card" src="{{ asset('medias/medias/images/Vitres.jpg')}}" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid">
    <img class="col-6 card" src="{{ asset('medias/medias/images/Tenir compagnie aux enfants.jpg')}}" alt="img servcices"  width="700" height="300">
</div>
<div class="container container-fluid ">
    <img class="col-6 card" src="{{ asset('medias/medias/images/Surfaces.jpg')}}" alt="img aide documentaire"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12">
<div class="container container-fluid">
    <img class="col-6 card" src="{{ asset('medias/medias/images/Rigoler détente avec senior.jpg')}}" alt="img services" width="700" height="300">
</div>
<div class="container container-fluid">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/Repassage.jpg')}}" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/Prendre soin senior à dom vecteur.jpg')}}" alt="img servcices"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12">
<div class="container container-fluid">
         <img class="col-6 card" src="{{ asset('medias/medias/images/Nettoyage du sol Mop large.jpg')}}" alt="img services"  width="700" height="300">
</div> 
<div class="container container-fluid">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/Nettoyage de surfaces.jpg')}}" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid">       
         <img class="col-6 card" src="{{ asset('medias/medias/images/Nettoyage bureau gant jaune.jpg')}}" alt="img services"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12">
<div class="container container-fluid">
    <img class="col-6 card" src="{{ asset('medias/medias/images/Machine à laver.jpg')}}" alt="img services"  width="700" height="300">
</div> 
<div class="container container-fluid">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/Livraison de courses homme senior.jpg')}}" alt="img services"  width="700" height="300">
</div>  
    <div class="container container-fluid">    
    <img class="col-6 card" src="{{ asset('medias/medias/images/Livraison de courses femme senior.jpg')}}" alt="img services" width="700" height="300">
</div>
</div>
{% endblock %}
