{% extends 'base.html.twig' %}

{% block title %}GServices A Domicile{% endblock %}

{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>

<br><br>
<div class="container">
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="9pt">GServ'Adom <br>Accueil</FONT></h1>
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>


<br>

<div class="container-fluid">
  <div class="h-100">
          <h1 class="display-6 mb-5 text-center fw-bold fst-italic fs-1 text">Bonjour, Bienvenue chez votre prestataire de services personnalisés</h1><br>
      <div class="row g-4 mb-4 blocimages justify-content-center">
      <div class="col-sm-6">
      <div class="d-flex align-items-center">
          <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="{{ asset('medias/medias/images/Lessive du linge.jpg')}}" alt="img services particuliers" width="700" height="600">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="d-flex">
          <img class="flex-shrink-0 me-3 rounded mb-3" src="{{ asset('medias/medias/images/Jeune fille tient produits gants roses.jpg')}}" alt="img services particuliers" width="700" height="600">
      </div>
    </div>
      <div class="col-sm-6">
      <div class="d-flex align-items-center">
        <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="{{ asset('medias/medias/images/Hygiène de la maison.jpg')}}" width="700" height="600">
      </div>
  </div>
  <div class="col-sm-6">
    <div class="d-flex align-items-center">
      <img class="flex-shrink-0 me-3 rounded mb-3" src="{{ asset('medias/medias/images/Equipe qui nettoie.jpg')}}" width="700" height="600">
    </div>
</div>
<div class="col-sm-6">
  <div class="d-flex align-items-center">
    <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="{{ asset('medias/medias/images/Electromenager.jpg')}}" width="700" height="600">
  </div>
</div>
<div class="col-sm-6">
  <div class="d-flex align-items-center">
    <img class="flex-shrink-0 me-3 rounded mb-3" src="{{ asset('medias/medias/images/Démarches sur internet.jpg')}}" width="700" height="600">
  </div>
</div>
</div>

      <p class="text-center fst-italic fs-1 text">Nous vous proposons des services à la carte, personnalisés ou par packs</p>
      
  </div>
</div>
<div>
<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 cardcolor2" style="width: 40rem;">
  <br>
    <h4>
      <p  class="text-uppercase fw-bold mb-4 text-center">Exemples de services Proposés</p>
    
     <span class="text-center">
     <p>Aide aux démarches administratives</p>
     
     <p>Assistance aux démarches informatiques à domicile</p>
     <p>Accompagnement et soutien aux besoins familiaux</p>
     <p>Soutien aux activités avec les enfants</p>
     <p>Accompagnement aux loisirs saints enfants</p>
     <p>Accompagnement aux loisirs saints adultes</p>
     <p>Ménage du quotidien</p>
    </span>
  </h4>
  <div class="d-flex align-items-center bg-light">
    <div class="service-icon flex-shrink-0 bg-primary">
        <img class="img-fluid" src="{{ asset('medias/medias/images/Label qualité.jpg')}}" alt="image qualité de services" width="100" height="100">
    </div>
    <a class="h4 mx-4 mb-0" href="">Qualité de Services</a>
</div>

   </div>
   <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 cardcolor2" style="width: 40rem;">
    <br>
    <h4>
      <p  class="text-uppercase fw-bold mb-4 text-center">Autres options<br> Nos packs de services</p>
    
     <span class="text-center">
     <p>Garde d’enfant & ménage</p>     
     <p>Courses & préparation de repas à domicile</p>
     <p>La lessive & le ménage</p>
     <p>Le repassage & le rangement du linge</p>
     <p>Accompagner, récupérer les enfants & les garder</p>
     <p>Démarches administratives physiques & en ligne</p>
     <p>Le ménage à fond & la cuisine<p/>
     <p>La garde d’enfants & la préparation de repas à domicile<p/>
    </span>
  </h4>
    <div class="d-flex align-items-center bg-light">
      <div class="service-icon flex-shrink-0 bg-primary">
          <img class="img-fluid" src="{{ asset('medias/medias/images/Label qualité.jpg')}}" alt="image qualité de services" width="100" height="100">
      </div>
      <a class="h4 mx-4 mb-0" href="">Qualité de Services</a>
  </div>     
</div>
</div>
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>
{% endblock %}

