{% extends 'base.html.twig' %}

{% block title %}GServices A Domicile{% endblock %}

{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>
<br><br>

<div class="container1">
    <img class="img-fluid rounded"src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="6pt">Accueil</FONT></h1>
    <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>

<div class="img-fluid d-flex justify-content-between col-12 blocimages3">
<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 align-items-center justify-content-between">
<div class="row d-flex justify-content-between">
  <div class="d-flex align-items-center justify-content-between col-8">
   <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="{{ asset('medias/medias/images/HomAccompagnement enfants école.jpg')}}" alt="img services particuliers" width="500" height="500">

   <img class="flex-shrink-0 me-3 rounded mb-3" src="{{ asset('medias/medias/images/Homaidechild.jpg')}}" alt="img services particuliers" width="500" height="500">
</div>
</div>
<div class="row d-flex justify-content-between">
  <div class="d-flex align-items-center justify-content-between col-8">
  <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="{{ asset('medias/medias/images/HomCuisine à domicile.jpg')}}" width="500" height="500">

  <img class="flex-shrink-0 me-3 rounded mb-3" src="{{ asset('medias/medias/images/HomDémarches sur internet.jpg')}}" width="500" height="500">
</div>
</div>
<div class="row d-flex justify-content-between ">
  <div class="d-flex align-items-center justify-content-between col-8">
  <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="{{ asset('medias/medias/images/HomElectromenager.jpg')}}" width="500" height="500">

  <img class="flex-shrink-0 me-3 rounded mb-3" src="{{ asset('medias/medias/images/HomFemmeVitre.jpg')}}" width="500" height="500">
</div>
</div>
</div>
</div>
      <p class="text-center fst-italic fs-1 text">Nous vous proposons des services à la carte, personnalisés ou par packs</p><br>
      
  </div>
</div>

<div class="col-md-4 mx-auto mb-4 align-items-center d-flex justify-content-between">
  <div class="d-flex align-items-center justify-content-between">
    <div class="col-8: width of 60% card cardcolor justify-content-between">    
      <h4><br>
      <p class="text-uppercase fw-bold mb-4 text-center">Services Unitaires Proposés à domicile</p><br>
      <span class="text-center justify-content-center justify-content-between">
              <p>Aide aux démarches administratives</p>
              <p>Assistance aux démarches informatiques</p>
              <p>Accompagnement et soutien familial</p>
              <p>Soutien aux activités avec les enfants</p>
              <p>Accompagnement aux loisirs saints enfants</p>
              <p>Accompagnement aux loisirs saints adultes</p>
              <p>Ménage du quotidien</p>
              <br>
     
      <p class="text-uppercase fw-bold mb-4 text-center ">Nos packs de services à domicile</p><br>
      <span class="text-center justify-content-center justify-content-between">
              <p>Garde d’enfant & ménage</p>     
              <p>Courses & préparation de repas</p>
              <p>La lessive & le ménage</p>
              <p>Le repassage & le rangement du linge</p>
              <p>Accompagner, récupérer les enfants & les garder</p>
              <p>Démarches administratives physiques & en ligne</p>
              <p>Le ménage à fond & la cuisine<p/>
              <p>La garde d’enfants & la préparation de repas<p/>
      </span>
      </h4>
      <div class="d-flex align-items-center bg-light col-1: width of 100%">
            <img class="img-fluid justify-content-center" src="{{ asset('medias/medias/images/SAP.gouv.jpg')}}" alt="image qualité de services" width="100" height="100">
      </div> 
    </div>
    
</div>
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>
{% endblock %}

