{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">
    <img class="img-fluid rounded "src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between"><FONT size="9pt">Mon compte</FONT></h1>
    <img class="img-fluid rounded"src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>
<div>

<div class="form-card justify-content-center cardcolor">
    
<h3 class= "d-flex justify-content-center"> {{ utilisateur.firstName }} </h3>
<br>
<h3 class= "d-flex justify-content-center"> {{ utilisateur.lastName }} </h3>
<br>
<h3 class= "d-flex justify-content-center"> {{ utilisateur.phone }} </h3>
<br>
<h3 class= "d-flex justify-content-center"> {{ utilisateur.email }} </h3>
<br>
<span class="d-flex justify-content-center"><button class="btn d-flex" type="submit"><font style="vertical-align: inherit;"></font><a href="{{ path('app_modifMoncompte') }}">Modifier mon profil</a></button></span>
</div>
<br>
{% endblock %}